<h1>場域</h1>

<div class="row">
  <% @rooms.each do |room| %>
    <div class="col-md-3">
      <%= link_to image_tag("classroom.png"), room %>
      <%= link_to room.label, room %>
    </div>
  <% end %>
</div>